<div class="container">
  <div class="row p-1 pt-3">
    <div class="col">
      <p class="text-end">
        <!-- Github -->
        <a class="github-button" href="https://github.com/hci-calendar/hci-calendar.github.io" data-show-count="true" aria-label="Star hci-calendar/hci-calendar.github.io on GitHub">Star</a>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        &nbsp;
        <!-- Twitter -->
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-9 text-center p-3">
      <h1 class="display-1 text-center">
        {{page.title}}
      </h1>
      <p class="fw-light text-center">
        {{ site.message1 }}
      </p>
      <p class="fw-light text-center">
        {{ site.message2 }}
      </p>
    </div>
  </div>
</div>
