{%- for conf in include.data -%}
  {%- assign year = conf.years | first -%}
  {%- if include.target_type != "conference" -%}
    {%- for submission in year.submissions -%}
      {%- assign type = submission.type | downcase -%}
      {%- if type contains include.target_type -%}
        {%- assign month = submission.date | date: "%b" -%}
        {%- if month == include.target_month -%}
          <a href="#{{conf.name}}">
          <li>
            <span class="name">{{conf.name}}</span>
            <span class="date">{{submission.date | date_to_string}}</span>
          </li>
          </a>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {%- assign month = year.date | date: "%b" -%}
    {%- if month == include.target_month -%}
      <a href="#{{conf.name}}">
      <li>
        <span class="name">{{conf.name}}</span>
        <span class="date">{{year.date | date_to_string}}</span>
      </li>
      </a>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
