@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: $body-text-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $background-color-secondary;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.section {
  margin: 0;
  padding: 20px;
}
.section-header {
  padding: 0;
  text-align: left;
  background: $background-color;
}
.section-title {
  text-align: center;
  background: $background-color;
  h1 {
    font-size: 3rem;
    padding: 0.5em;
  }
  ul {
    list-style-type: none;
    padding: 0 15% 0 15%;
  }
  li {
    display: inline-block;
    margin: 0.1em 0.5em 0.1em 0.5em;
    white-space: nowrap;
  }
  p {font-size: small;}
}
.section-month {
  background: $background-color;
}
.section-conference {
  background: $background-color-secondary;
}

.container {
  width: 100%;
  margin: 0px;

  @include large {
    max-width: $large-container-width;
    padding: 0rem;
    margin: 0 auto;
    font-size: 0.95rem;
  }
  @include medium {
    padding: 0rem;
    margin: 0 auto;
    font-size: 0.95rem;
  }
  @include small {
    max-width: $medium-container-width;
    padding: 0rem;
    margin: 0 auto;
    font-size: 0.95rem;
  }
}
.container-header {
  padding: 0.3em 1em;
  display: table;
  border-bottom: 1px solid $underline-border-color;
  a {
    text-decoration: none;
    margin: 0 0.3em;
  }
  .header-links {
    padding: 0.1em;
    text-align: left;
    vertical-align: top;
    display: table-cell;
  }
  .header-buttons {
    margin: 0.3em 0.2em;
    text-align: right;
    display: table-cell;
  }
}

.main-content {
  word-wrap: break-word;

  .text-area {
    padding: 1em;

    h1 {clear: both;}
    h2 {clear: both;}
    h3 {clear: both;}
  }

  :first-child {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

@import "calendar";
