// Breakpoints
$large-breakpoint: 45em !default;
$large-container-width: 47em !default;
$medium-container-width: 35em !default;
$medium-breakpoint: 33em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #35AA57 !default;
$header-bg-color-secondary: #1557B0 !default;

// Text
$section-headings-color: #303030 !default;
$body-text-color: #40484b !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
