// Breakpoints
$large-breakpoint: 45em !default;
$large-container-width: 47em !default;
$medium-container-width: 35em !default;
$medium-breakpoint: 33em !default;

// Color
$base-hue: 30;
$base-sat: 50%;
$progress-bar-color: hsl($base-hue, $base-sat, 80%) !default;
$underline-border-color: rgba(0, 0, 0, 0.2) !default;

// Background
$background-color: hsl($base-hue, $base-sat, 90%) !default;
$background-color-secondary: white !default;

// Text
$body-text-color: #4e4840 !default;
$body-link-color: hsl($base-hue, $base-sat, 35%) !default;
$highlight-color: hsl($base-hue, 10%, 35%) !default;

// Size
$progress-side-margin: 8% !default;
