// Breakpoints
$large-breakpoint: 45em !default;
$large-container-width: 47em !default;
$medium-container-width: 35em !default;
$medium-breakpoint: 33em !default;

// Color
$progress-bar-color: #F4D0AA !default;

// Background
$background-color: #F4E9DD !default;
$background-color-secondary: #FFFFFF !default;

// Text
$section-headings-color: #303030 !default;
$body-text-color: #40484b !default;
$body-link-color: #1e6bb8 !default;
